

<% var string = "Hello"; %>
<script>console.log("<%= string %>");</script>

<html>
    <head>
        <style> 
            body {
                margin: 0px;
                padding: 0px;
            }
        </style>
    </head>
    <body>
        <img src="<%= url %>" />
    </body>
</html>
