

<% 

var string = "Hello"; 

%>
<!-- Page -->
<html>
    <head>
        <style> 
            body {
                margin: 0px;
                padding: 0px;
            }
            img {
                width: 100%;
            }
        </style>

        <script>console.log("<%= string %>");</script>
        <script type="text/javascript" src="https://ecobeeca-demo.lightning.force.com/canvas/sdk/js/45.0/canvas-all.js"></script>
    

    </head>
    <body>
        <img id="ctx" src="<%= url %>" />

        <script>
            console.log("SFDC Req: <%= JSON.stringify(req) %>");
            console.log("SFDC Res: <%= JSON.stringify(res) %>");
        </script>

        <!-- Canvas context -->
        <script>
            function callback(msg) {
                if (msg.status !== 200) {
                    console.log("Salesforce Canvas load error: " + msg.status);
                    return;
                }
                console.log("Salesforce Canvas Payload: ", msg.payload);
            }
                        
            var ctxlink = Sfdc.canvas.byId("ctx");
            var client = Sfdc.canvas.oauth.client();
            Sfdc.canvas.client.ctx(callback, client);

        </script>

    </body>
</html>
